
body{
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Akaya Telivigala', cursive;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  color: #11999E;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: #40514E;
  line-height: 2;
}

a {
  color: #11999E;
  margin: 5px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  margin-bottom: 70px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
}

.top-cloud {
  position: absolute;
  right: 120px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hobby-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 30px;
}

.footer {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px auto 0px auto;
}

.footer-link {
  color: #11999E;
  margin: auto 20
}

.BUTTON_IXT {
   background: #11999E;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Roboto Mono', monospace;
   font-size: 15px;
   padding: 10px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 60px;
}

.BUTTON_IXT:hover {
   border: solid #337FED 1px;
   background: #1199e;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

.love-nature {
  margin-bottom: 40px;
}

.travel {
  margin: auto auto 40px auto;
  width: 40%;
}

.hobby-1 {
  color: #11999E;
}

.my-skill {
  color: #66BFBF;
}

.hr1{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 70px auto 50px auto;
}

.hr2 {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: -35px auto 50px auto;
}

.intro {
  width: 30%;
  margin: auto;
}
